<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
        <meta name="author" content="{{ site.author.name }}">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<!--         <link rel="stylesheet" href="css/normalize.css"> -->

<!--
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/cyborg.min.css">
-->
        <link rel="stylesheet/less" type="text/css" href="{{ ASSET_PATH }}/less/global.less">

        <script src="{{ ASSET_PATH }}/js/vendor/less-1.3.0.min.js" type="text/javascript"></script>
        <script>
          //call less to be in developer mode.
          //less.watch();
        </script>

        <script src="{{ ASSET_PATH }}/js/vendor/modernizr-2.6.1.min.js"></script>
    </head>

  <body>
<header class="jumbotron subhead">
  <h1>
    
      <span class="nu">Northeastern University</br>
      <span class="libraries">University Libraries</span></span>
    
  </h1>
    <p class="lead">Library Techology Services</p>
</header>

    <div class="navbar navbar-static">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <div class="nav-collapse">
            <ul class="nav">
              {% assign pages_list = site.pages %}
              {% assign group = 'navigation' %}
              {% include JB/pages_list %}
            </ul>
          </div> <!-- End nav collapse -->
        </div>
      </div>
    </div>
<!-- end navbar -->
    <div class="container-fluid">

      <div class="content">
        {{ content }}
      </div>

      <footer>
        <p>&copy; {{ site.author.name }} 2012
          with help from <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
          and <a href="http://twitter.github.com/bootstrap/" target="_blank">Twitter Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ ASSET_PATH }}/js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="{{ ASSET_PATH }}/js/plugins.js"></script>
        <script src="{{ ASSET_PATH }}/js/main.js"></script>
        <script src="{{ ASSET_PATH }}/js/vendor/bootstrap.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
  </body>
</html>
